<div>
    <form id="product-form">
  <label for="title">Title:</label>
  <input type="text" id="title" name="title" required>

  <label for="description">Description:</label>
  <textarea id="description" name="description" required></textarea>

  <label for="price">Price:</label>
  <input type="number" id="price" name="price" required>

  <label for="category">Category:</label>
  <select id="category" name="category" required>
  </select>

  <label for="stock">Stock:</label>
  <input type="number" id="stock" name="stock" required>

  <label for="code">Code:</label>
  <input type="text" id="code" name="code" required>

  <button type="submit">Create product</button>
</form>

<form id="delete-product-form">
  <label for="product-id">Product ID:</label>
  <input type="text" id="product-id" name="product-id" required>
  <button type="submit">Delete Product</button>
</form>

</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/router/view.routers.js"></script>
